/* @import url("this was also an sting") */

/* :root {
    --brand-color: #f11
}

h1 {
    text-align: center;
    color: var(--brand-color)
} */

.my-photo {
    border: 3px solid red;
    border-radius: 50%;
    margin-top: 100px;
    margin-left: 200px;
}